/* src/components/Contact.css */
.contact {
     background-size: cover;
     background-position: center;
     background-image: url('../assets/Images/home.png');
  }
  
  .contact h1 {
    text-align: center;
  }
  
  .contact p {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 0.5rem;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  
  button[type="submit"] {
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .contact-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .map-container iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
  }

  .form {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Semi-transparent white border */
    border-radius: 10px; /* Rounded corners */
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
  }
  